# cribbed from...
# https://github.com/Agoric/agoric-sdk/blob/master/packages/pegasus/demo.md

# but hermes requires a different arrangement now, so I also used...
# https://github.com/informalsystems/ibc-rs/blob/master/config.toml
[global]
# strategy = 'all'
log_level = 'trace'

[mode.clients]
enabled = true
refresh = true

[mode.connections]
enabled = true

[mode.channels]
enabled = true

[mode.packets]
enabled = true
clear_interval = 100
clear_on_start = true
tx_confirmation = true

[telemetry]
enabled = false
host = '127.0.0.1'
port = 3001

[[chains]]                                                               
# local agoric chain
id = 'agoric'
rpc_addr = 'http://host.docker.internal:26657'
grpc_addr = 'http://host.docker.internal:9090'
websocket_addr = 'ws://host.docker.internal:26657/websocket'
rpc_timeout = '10s'
account_prefix = 'agoric'
key_name = 'agdevkey'
store_prefix = 'ibc'
max_gas = 3000000
gas_price = { price = 0.001, denom = 'urun' }
gas_multiplier = 1.1
clock_drift = '5s'
trusting_period = '1days'                                               

[chains.trust_threshold]
numerator = '1'
denominator = '3'

[[chains]]
id = 'theta-testnet-001'
rpc_addr = 'http://164.90.146.43:26657/'
grpc_addr = 'http://164.90.146.43:9090/'
websocket_addr = 'ws://164.90.146.43:26657/websocket'

rpc_timeout = '10s'
account_prefix = 'cosmos'
key_name = 'cosmoshub'
store_prefix = 'ibc'
default_gas = 100000
max_gas = 3000000
gas_price = { price = 0.10, denom = 'uatom' }
gas_multiplier = 2.0
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '5s'
max_block_time = '10s'
trusting_period = '1days'
address_type = { derivation = 'cosmos' }                                  

[chains.trust_threshold]
numerator = '1'
denominator = '3'
